* {
    transition: all 0.3s;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    background: linear-gradient(rgb(107, 5, 90), rgb(85, 142, 226));
}

.marco {
    border-radius: 40px;
    background: #333;
    padding: 15px;
}

.botones {
    display: flex;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    font-size: 60%;
    padding: 20px;
    cursor: pointer;
}